.main {
    position: relative;
}

.dragon {
    height: 150px;
    width: 150px;
    display: inline-block;
    position: fixed;
}

.wall {
    background-image: url(wall.jpg);
    display: inline-block;
    border: 1px solid;
    width: 13px;
    height: 150px;
    left: 1200px;
    position: fixed;
}

.result {
    position: relative;
    font-size: 42px;
}